<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper
        PUBLIC "-//mybatis.org//DTD 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="com.koalin.commerceshopesystem.user.mapper.UmsMemberLevelMapper">
    <select id="selectAllMemberLevel" resultType="com.koalin.commerceshopesystem.bean.UmsMemberLevel">
        select * from ums_member_level;
    </select>
</mapper>